@use 'includes/js/glide-3.4.1/src/assets/sass/glide.core';
@use 'includes/js/glide-3.4.1/src/assets/sass/glide.theme';
@font-face {
  font-family: 'Futura';
  src: url(includes/fonts/futuramediumbt.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Playfair';
  src: url(includes/fonts/PlayfairDisplaySC-Black.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Baskerville';
  src: url(includes/fonts/Baskerville.ttf);
  font-style: normal;
  font-weight: normal; }
body {
  font-family: "Futura";
  background-color: #2c3549;
  height: auto;
  width: auto;
  color: #ffffff;
  padding: 40px;
  overflow-x: hidden; }

.header {
  display: flex;
  justify-content: space-between; }

.logo {
  width: 240px; }

.nav {
  display: flex;
  text-align: right; }

.nav-item {
  padding: 0 40px;
  text-transform: uppercase;
  font-size: 14px;
  text-transform: uppercase; }
  .nav-item:last-child {
    padding: 0 0 0 40px; }
  .nav-item a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 2px; }
    .nav-item a:hover,
    .nav-item a :focus {
      color: #d9a260; }

.settings-button {
  font-size: 18px;
  font-family: inherit;
  border: none;
  background: transparent; }
  .settings-button:focus {
    outline: none; }
  .settings-button:hover {
    cursor: pointer; }
  .settings-button i {
    color: #ffffff;
    font-size: 18px; }

.nav .current a {
  color: #d9a260; }

.button {
  width: 250px;
  margin: 50px auto; }
  .button a {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    width: 250px;
    padding: 15px 60px;
    background-color: #d9a260;
    border: 1px solid #d9a260;
    letter-spacing: 2px;
    border-radius: 50px; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav a {
    padding: 28px 8px 28px 32px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #d9a260;
    display: block;
    transition: 0.3s; }
    .sidenav a :first-of-type {
      padding-top: 40px; }
    .sidenav a:hover {
      color: #262626; }
    .sidenav a.profile-link {
      display: flex;
      align-items: center; }
    .sidenav a .profile-title {
      padding-left: 50px; }
      .sidenav a .profile-title.profile-title-1 {
        padding-left: 10px; }
    .sidenav a .profile-title-nav {
      display: none; }
  .sidenav .closebtn {
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

.profile-img {
  width: 40px;
  padding-right: 10px; }

.collapse {
  display: none !important; }

.primary-container {
  margin-top: 100px; }

.slider-img {
  width: 100%; }

[type=radio] {
  display: none; }

#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d; }

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease; }

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
  opacity: .1; }

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
  opacity: .5; }

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0); }

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
  opacity: .5; }

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
  opacity: .1; }

.cart-container {
  font-family: 'Baskerville';
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  text-align: left; }
  .cart-container .cart-item-title {
    background-color: #485677;
    width: 198px;
    height: 15px; }
    .cart-container .cart-item-title div {
      margin-top: -8px;
      font-size: 13px; }
  .cart-container .cart-item-size {
    font-family: "Futura"; }
    .cart-container .cart-item-size div {
      margin-top: -8px; }
  .cart-container .cart-item-price {
    background-color: #d9a260;
    width: 52px;
    height: 15px; }
    .cart-container .cart-item-price div {
      margin-top: -10px;
      font-size: 20px; }
  .cart-container .cart-item-amount div {
    margin-top: -8px; }

.clothing-category img {
  height: 400px; }

.shop-container {
  margin-top: 100px;
  display: flex;
  align-items: flex-start; }
  .shop-container .shop-slider {
    margin: auto;
    width: 25%; }

.bag-slider-product {
  width: 100%; }

.item-description {
  width: 300px;
  text-align: center; }
  .item-description span {
    font-family: "Playfair";
    font-size: 18px;
    letter-spacing: 4px;
    border-bottom: 3px solid #d9a260;
    padding: 10px; }
  .item-description p {
    text-align: left;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 18px;
    padding: 10px 20px 30px; }
  .item-description .color-choices {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 40px 0 0 40px;
    padding: 10px; }
    .item-description .color-choices img {
      width: 18px;
      padding: 0; }
  .item-description button {
    background: transparent;
    border: none;
    outline: none;
    padding: 3px 4px; }
    .item-description button:focus {
      outline: none;
      border: 2px solid #262626;
      border-radius: 80px; }
  .item-description .price {
    padding: 40px; }

.glide__arrow {
  border: none !important;
  box-shadow: none !important; }

.glide__arrow--right {
  right: -7em !important; }
  .glide__arrow--right:hover {
    -webkit-transform: translateX(8px) translateY(-45px);
    transform: translateX(8px) translateY(-45px);
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out; }

.glide__arrow--left {
  left: -7em !important; }
  .glide__arrow--left:hover {
    -webkit-transform: translateX(-8px) translateY(-45px);
    transform: translateX(-8px) translateY(-45px);
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out; }

.slider-arrow {
  height: 70px; }

@media only screen and (max-width: 1090px) {
  .button {
    width: 100%;
    text-align: center; }
    .button a {
      margin: 20px auto;
      padding: 15px 30px; } }
@media only screen and (max-width: 840px) {
  .logo {
    width: 160px; }

  .cart-container {
    display: block !important;
    text-align: center !important; }
    .cart-container .cart-item-title,
    .cart-container .cart-item-size,
    .cart-container .cart-item-price,
    .cart-container .cart-item-amount {
      margin: 25px auto; }

  .nav-item-collapse {
    display: none;
    position: absolute; }

  .collapse {
    display: block !important; }

  .sidenav a .profile-title-nav {
    display: block;
    padding: 0 50px; }

  .shop-container {
    display: block;
    margin-top: 30px; }
    .shop-container .shop-slider {
      width: 50%; }

  .clothing-category {
    display: none; }

  .item-description {
    margin: 10px auto; }
    .item-description p {
      text-align: center; }
    .item-description .color-choices {
      border-radius: 40px; } }
@media only screen and (max-width: 480px) {
  body {
    padding: 20px; }

  .item-description {
    width: 100%; }
    .item-description span {
      font-size: 15px;
      white-space: nowrap;
      letter-spacing: 2px; }
    .item-description .price img {
      width: 100%; }

  .button {
    width: 100%; }
    .button a {
      margin: auto;
      padding: 10px 20px;
      font-size: 15px; } }

/*# sourceMappingURL=styles.css.map */
